# Project information
site_name: What I learned today (@rohancragg)
site_description: 'A Material Design theme for MkDocs'
site_author: 'Rohan Cragg'
site_url: 'https://rohancragg.github.io'

# Table of Contents
nav:
  - Home: README.md
  - About Me: about.md
  - Tools & Techniques:
    - Scoop & Co: misc\scoop.md
    - Bash Shell on Windows: misc\git-bash.md
    - Miscellanous Notes: misc\misc.md
  - Kubernetes:
    - Clusters and Domains: aks\domains.md
    - Create a TLS Secret: aks\create-tls-secret.md

# Repository
repo_name: 'rohancragg/blog-notes'
repo_url: 'https://github.com/rohancragg/blog-notes'

# Copyright
copyright: 'Copyright &copy; 2019 - 2020 Rohan Cragg'

# Customization
extra:
  manifest: 'manifest.webmanifest'
  social:
    - type: 'user-circle'
      link: 'https://www.rohancragg.co.uk/'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/in/rohancragg'
    - type: 'twitter'
      link: 'https://twitter.com/rohancragg'
    - type: 'github'
      link: 'https://github.com/rohancragg'
    - type: 'facebook'
      link: 'https://fb.com/rohancragg'
    - type: 'instagram'
      link: 'https://www.instagram.com/rohancragg/'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - fontawesome_markdown

plugins:
  - search
  - git-revision-date

theme:
  name: material
  language: 'en'
  palette:
    primary: 'deep purple'
    accent: 'green'
  font:
    text: 'Noto Sans'
    code: 'Ubuntu Mono'