{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    <meta property="og:title" content="{{ page.meta.og_title }}" />
    {% if page.meta.og_type %}
        <meta property="og:type" content="{{ page.meta.og_type }}" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}
    <meta property="og:url" content="{{ page.canonical_url }}" />
    {% if page.meta.page_path and page.meta.og_image %}
        <meta property="og:image" content="{{ config.site_url ~ page.meta.page_path ~ page.meta.og_image }}" />
    {% elif page.meta.og_image %}
        <meta property="og:image" content="{{ config.site_url ~ page.meta.og_image }}" />
    {% else %}
        <meta property="og:image" content="{{ config.theme.favicon | url }}" />
    {% endif %}
    {% if page and page.meta and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta property="og:description" content="{{ config.site_description }}">
    {% endif %}
    <meta property="og:locale" content="en-GB" />
    <meta property="fb:app_id" content="{{ config.fb_appid }}" />

    <meta property="base_url" content="{{ base_url | url }}" />
    <meta property="site_url" content="{{ config.site_url | url }}" />
    <meta property="page.url" content="{{ page.url | url }}" />
    <meta property="page.abs_url" content="{{ page.abs_url }}" />
    <meta property="page.parent" content="{{ page.parent }}" />
{% endblock %}